In [52]:
#Q1
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])

for item in sorted_data:
    print(item)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [50]:
#Q2
number2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ans2 = list(map(lambda x:x**2,number2))
print(ans2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
#Q3
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ans3 = tuple(map(lambda x:x,list3))
result_tuple = tuple(map(str,ans3))
print(result_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [34]:
#Q4
from functools import reduce
number4=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
ans4 = reduce(lambda x,y:x*y,number4)
print(ans4)

15511210043330985984000000

In [29]:
#Q5

number5=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
ans5 = list(filter(lambda x:x%2==0 and x%3==0,number5))
print(ans5)

[6, 60, 90, 120]

In [33]:
#Q6
list6 = ['python', 'php', 'aba', 'radar', 'level']
ans6 = list(filter(lambda x:(x == "".join(reversed(x))),list6))
print(ans6)

['php', 'aba', 'radar', 'level']