In [3]:
#Q1. Create One Variable Conatining Following Type of Data
a = 'hello world'
b = [1,2,3,4,5,'hello',"World",4+9j]
c = 3.456394625
d = ("apple","cherry","Mango")

In [4]:
#Q2.
#(1)string
#(2)str
#(3)list 
#(4)int

In [5]:
#Q3.
#(1) / ---> this operator is used to divide two number. 
#for example 10/5=2.0

#(2) % ---> this operator is used to find reminder by dividing two value
#for exaple 3%2=1

#(3) // ---> this operator is used to get floor value by dividing two value
# for example 5//2

#(4) ** ---> this operator is used to get the power of number 
# for example 2**3=8

In [3]:
#Q4.

list1=[2,6,4,3,5,'Hello','WORLD',4+1j,True,False]
for i in list1:
    print(i)
type(list1)

2
6
4
3
5
Hello
WORLD
(4+1j)
True
False

list

In [2]:
# Input the two numbers to check for divisibility
A = int(input("Enter the dividend: "))
B = int(input("Enter the divisor: "))

# Initialize a variable to count the number of times A is divisible by B
count = 0

# Use a while loop to check for divisibility
while A % B == 0:
    count += 1
    A = A // B

# Check if A is completely divisible by B or not
if count > 0:
    print("A is divisible by B and can be divided", count, "times.")
else:
    print("A is not completely divisible by B.")

Enter the dividend:  100
Enter the divisor:  5

A is divisible by B and can be divided 2 times.

In [1]:
#Q6

list2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list2:
    if(i%3==0):
        print(i)

3
6
9
12
15
18
21
24

In [ ]:
#Q7

'''data types which can be changed or modify is called mutable data type'''

"""data types which can't be changed or modify is called immutable data type"""

#below are the example of mutable data type 

list3=[1,2,3,8,5,'hello','world']
list3[3]=4
list3

In [ ]:
# below are the example of immutable data type
name = 'hallo'
name[1] = 'e'
#we will get error because string object don't support item assignment