In [ ]:
#Q1:
"""we can comments code like this"""#----> multiline comments
'''we can comments code like this'''#----> multiline comments(#another form of multiline comments)
#we can comments code like this----->single line comment

#There are 2 different types of comments i.e multiline comments and single line comments

In [10]:
#Q2:
# a symbolic name that is reference or pointer
'''for example'''
n=300

In [24]:
#Q3:
# with help of typecasting we can convert one data type into another data type
# for example
s='yash'#----> s is string , we can convert it into list  
s1 = list(s)
type(s1)

list

In [ ]:
#Q4:
'''open the command line and type the word python than you can able to write python code to execute it just press enter
it wwill show you result'''

In [25]:
#Q5:

my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

In [29]:
#Q6:
#complex number in mathematics, which have both real and imaginary value are called complex number
#for example(how to denote complex number in python)
e=4+7j
type(e)
# where 4.0 is real number and 7.0 is imaginary number

7.0

In [30]:
#Q7:
age = 25
type(age)

int

In [33]:
#Q8:
price = 9.99
type(price)#---> this variable belog to float data type

float

In [36]:
#Q9:
name = "Yash Patel"
print(name)

Yash Patel

In [37]:
#Q10:
string = "Hello, World!"
string[7:12]

'World'

In [40]:
#Q11:
is_student = True
type(is_student)

bool